# Python
__pycache__/
*.py[cod]
*.pyo
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data and outputs (keep schema, ignore generated db)
data/*.csv


# Metabase
metabase/metabase-data/
metabase/*.db

# OS
.DS_Store
Thumbs.db
